[defaults]
allow_world_readable_tmpfiles=true
host_key_checking = False
deprecation_warnings=False
callbacks_enabled = profile_tasks,ansible.posix.timer

[galaxy]
server_list = private_hub_publish

[galaxy_server.private_hub_publish]
url = https://192.168.64.63/pulp_ansible/galaxy/published/ 
token = 0d1f506fc323a7ebd404198dc7c1373686fefc75
# Optional: Set the authentication server URL if required by your setup
# auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token 
